html* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;

  background-image: url(/images/bg.svg);
  background-repeat: repeat-y;
  background-size: auto;

  overflow-x: hidden;
}

/* Nav-Bar Design */
nav {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.design-btn {
  border: none;
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 16px;
  font-size: 16px;

  margin-right: 16px;
}

.blog-btn {
  border-color: black;
  border-width: 1px;
  width: 100px;
  height: 50px;
  background-color: transparent;
  color: black;
  border-radius: 16px;
  font-size: 16px;
}

/* Main content design */

.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.quote-container {
  margin-left: 104px;
}

.quote-container img {
  width: 90%;
}

.name-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0;
}

.name-container img {
  position: absolute;
  width: 64px;
  padding-left: 280px;
  padding-top: 72px;
}

.name {
  font-size: 56px;
  line-height: 133%;
  font-weight: bold;
  max-width: 350px;
  max-height: 148px;
}

.name span {
  color: #5639da;
}

.description {
  font-size: 32px;
  line-height: 133%;
  font-weight: 400;
  max-width: 450px;

  margin-top: 32px;
}

.description span {
  text-decoration: underline;
}

/* Scroll down design */

.cta-container {
  margin-top: 64px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cta-container p {
  font-weight: bold;
}

.cta-container img {
  width: 24px;
}

/* Project display design */

.allProjects-container {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 80px;
}

.eachProject-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 80px;
}

.description-container {
  margin-left: 48px;
}

.project-title {
  font-size: 40px;
  font-weight: bold;
}

.project-date {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.project-description {
  font-size: 20px;
  margin-bottom: 32px;
  line-height: 133%;
  max-width: 375px;
}

.view-project {
  width: 120px;
  height: 48px;
  background-color: #5639da;
  font-size: 16px;
  color: white;

  border: none;
  border-radius: 16px;

  cursor: pointer;
}

/* Footer design */

footer {
  width: 100%;
  height: 156px;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me {
  width: 150px;
  height: 60px;
  background-color: white;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
}

/* MOBILE FRIENDLY DEV */

@media screen and (max-width: 393px) {
  /* Nav design */

  .quote-container {
    display: none;
  }

  nav {
    justify-content: left;
    margin-left: 40px;
  }

  .design-btn {
    width: 80px;
    height: 40px;
    border-radius: 8px;
    font-size: 12px;
  }

  .blog-btn {
    width: 80px;
    height: 40px;
    border-radius: 8px;
    font-size: 12px;
  }

  /* landing page content design */

  .landing-container {
    justify-content: left;
    margin-left: 40px;
  }

  .name {
    font-size: 40px;
    max-width: 250px;
  }

  .name-container img {
    position: absolute;
    width: 40px;
    padding-left: 200px;
    padding-top: 56px;
  }

  .description {
    font-size: 32px;
    margin-top: 24px;
    max-width: 300px;
  }

  /* Scroll down design */
  .cta-container {
    justify-content: left;
    margin-left: 40px;
  }

  .cta-container p {
    font-size: 12px;
  }

  /* Project display design */

  .eachProject-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .eachProject-container img {
    width: 90%;
  }

  .description-container {
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
    max-width: 300px;
  }

  .project-title {
    font-size: 24px;
  }

  .project-date {
    font-size: 16px;
  }

  .project-description {
    font-size: 16px;
  }

  .view-project {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }

  /* Footer */

  footer {
    height: 96px;
  }

  .contact-me {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}
